@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --area96RainbowGradient: linear-gradient(
    90deg,
    #00f,
    #0f0 25%,
    #ff0 50%,
    #f00
  );
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

.area96RainbowGradientBackground {
  background: var(--area96RainbowGradient);
}

.area96RainbowGradientText {
  background: var(--area96RainbowGradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
